In [1]:
userName = "Yikkin"

In [2]:
print(userName)

Yikkin

In [ ]:
count , result  , total = 0 , 0 , 0

count = 0
result = 0
total = 0

In [3]:
import os 
os.path.expanduser('~')

'C:\\Users\\jean-'

In [4]:
f = open('yikkin.txt' , 'r')

In [5]:
firstline = f.readline()

In [6]:
print(firstline)

this is my first text file

In [8]:
f.close()

In [18]:
f = open('yikkin.txt' ,'r')
for line in f:
    print(line , end = '')
f.close()

this is my first text file
this is a dog or cat
new line yo
hey where have you been	his will add a new line
 this will add a new line
this will add a new line

In [17]:
f = open('yikkin.txt' ,'a')
f.write('\nthis will add a new line')
f.close()

In [22]:
inputfile = open('yikkin.txt','r')

In [23]:
outputfile = open('yikkinout.txt','w')

In [24]:
msg = inputfile.read(10)

In [25]:
while len(msg):
    outputfile.write(msg)
    msg = inputfile.read(10)

In [26]:
inputfile.close()
outputfile.close()

In [41]:
f = open('months.txt' ,'r')
nb_bytes_file = len(f.read())
msg = f.read(10)
#nb_bytes_msg = len(msg)

#nb_temp_bytes_msg = 10

print(f.read(10))
#while nb_temp_bytes_msg < nb_bytes_file:
    #msg = f.read(10)
    #nb_temp_bytes_msg = nb_temp_bytes_msg + nb_bytes_msg
    #print(msg)

#f.close()

In [6]:
#objects oriented programming

class NewClass:
    '''This is a docstring. I have created a new class'''
    pass



class MySecondClass:
    "This is my second class"
    a = 10
    def func(self):
        print('Hello')
        #print(a)
        
        
cl = MySecondClass()
print(cl.a)

10

In [7]:
import pandas as pd
df = pd.read_csv("http://bit.ly/imdbratings")

In [11]:
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [15]:
print(type(df))
print(df.shape)
print(df.columns)
print(df.dtypes)

<class 'pandas.core.frame.DataFrame'>
(979, 6)
Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')
star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

In [17]:
bbc_df = pd.read_csv("bbc.csv")
bbc_df.head()

,MaritalStatus,Gender,YearlyIncome,TotalChildren,NumberChildrenAtHome,EnglishEducation,HouseOwnerFlag,NumberCarsOwned,CommuteDistance,Region,Age,BikeBuyer
0,5,1,90000,2,0,5,1,0,2,2,50,1
1,5,1,60000,3,3,5,0,1,1,2,51,1
2,5,1,60000,3,3,5,1,1,5,2,51,1
3,5,2,70000,0,0,5,0,1,10,2,49,1
4,5,2,80000,5,5,5,1,4,2,2,48,1

In [9]:
#scikit-learn

import pandas as pd

titanic = pd.read_csv("titanic.csv", index_col="PassengerId")
titanic = titanic[["Pclass" , "Sex","Age","SibSp","Parch","Fare","Survived"]]
titanic["Sex"] = titanic["Sex"].map({"male" : 0 , "female" : 1})
titanic = titanic.dropna()

In [10]:
titanic.head()

             Pclass  Sex   Age  SibSp  Parch     Fare  Survived
PassengerId
1                 3    0  22.0      1      0   7.2500         0
2                 1    1  38.0      1      0  71.2833         1
3                 3    1  26.0      0      0   7.9250         1
4                 1    1  35.0      1      0  53.1000         1
5                 3    0  35.0      0      0   8.0500         0

In [13]:
x = titanic.drop("Survived" , axis  = 1)
y = titanic["Survived"]

from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(x,y,random_state = 1)

from sklearn import tree
model = tree.DecisionTreeClassifier()
model

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [16]:
model.fit(x_train , y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [17]:
y_predict = model.predict(x_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_predict)

0.8324022346368715

In [20]:
#Support Vector Machine modeling
from sklearn.svm import SVC
model2 = SVC(kernel = 'linear')

In [21]:
model2.fit(x_train, y_train)
y_predict = model2.predict(x_test)
accuracy_score(y_test , y_predict)

0.776536312849162